include ../partials/header.pug
table(class='ui celled table')
  thead
    tr
      th='My favors'
  tbody
    tr
      table(class='ui celled table')
        thead
          tr
            th="Name"
            th="Status"
            th="Difficulty"
            th="Expiry Date"
        tbody
          each favor in ownedFavors
            tr
              td
                a(href=`/favors/${favor.favor_id}`)=`${favor.favor_name}`
              td=`${favor.favor_status}`
              td=`${favor.favor_difficulty}`
              td=`${favor.expiry_date}`

table(class='ui celled table')
    thead
      tr
        th='Favors I\'ve Accepted'
    tbody
      tr
        table(class='ui celled table')
          thead
            tr
              th="Name"
              th="Status"
              th="Difficulty"
              th="Expiry Date"
          tbody
            each favor in acceptedFavors
              tr
                td
                  a(href=`/favors/${favor.favor_id}`)=`${favor.favor_name}`
                td=`${favor.favor_status}`
                td=`${favor.favor_difficulty}`
                td=`${favor.expiry_date}`