include ../partials/header.pug
body
  p="hello"
  table
    tr
      td='FAVORS'
        table
          tr
            td="FAVORS I'VE ACCEPTED"
              table
                tr
                  td="Description"
                  td="Length"
                  td="Color"
                tr
                  td="Help me"
                  td="3 weeks"
                  td="Black"
                tr
                  td="Help me"
                  td="3 weeks"
                  td="Black"
                  tr
            td="MY FAVORS THAT HAVE BEEN ACCEPTED"
              table
                tr
                  td="Description"
                  td="Length"
                  td="Color"
                tr
                  td="Help me"
                  td="3 weeks"
                  td="Black"
                tr
                  td="Help me"
                  td="3 weeks"
                  td="Black"
      tr
          td='MY OPEN FAVORS'
              table
                  tr
                      td="Description"
                      td="Length"
                      td="Color"
                  tr
                      td="Help me"
                      td="3 weeks"
                      td="Black"
                  tr
                      td="Help me"
                      td="3 weeks"
                      td="Black"


//-             favors I own
//-     accepted            open
//- ----------------- | ------------------
//- --------------------------------------
//- ---------------------------------------